<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a todo item</h1>

    <form method="post" action="/add">
        <div class="form-group">
            <label for="item-name">Name: </label>
            <input id="item-name" name="item-name" type="text">
        </div>

        <div class="form-group">
            <label for="item-done">Done: </label>
            <input id="item-done" name=item-done" type="checkbox">
        </div>

        <div class="form-group">
            <button type="submit">Add Item</button>
        </div>
    </form>
</body>
</html>